:root {
  --primary-color: #ca3803;
  --text-color: #1f2937;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Robotto", sans-serif;
  background-color: #f4f6f8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-color);
}

.app-container {
  background-color: white;
  width: 100%;
  max-width: 600px;
  padding: 0.8rem;
  box-shadow: 2px 1px 20px rgba(125, 123, 123, 0.2);
  border-radius: 10px;
}

h1 {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-align: center;
}

.screen {
  display: none;
}

.screen.active {
  display: block;
}

#start-screen p {
  text-align: center;
  font-size: 1rem;
}

#start-btn,
#restart-btn {
  border: none;
  background-color: var(--primary-color);
  color: white;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  display: block;
  margin: 0 auto;
  font-weight: 700;
  margin-top: 2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#start-btn:hover,
#restart-btn:hover {
  transform: translateY(-2px);
}

.quiz-question {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  align-items: left;
}

.quiz-info {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: 2rem;
  color: #022003;
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.answer-btn {
  padding: 0.7rem 1rem;
  text-align: left;
  border: 1px solid white;
  font-size: 1rem;
  line-height: 1.4;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f4a6a6;
  color: black;
  font-weight: 500;
  transition: all 0.2s;
}

.answer-btn:hover {
  background-color: #f1a589;
}

.answer-btn.correct {
  background-color: rgb(158, 240, 158);
  color: rgb(12, 104, 12);
  border-color: rgb(180, 245, 180);
  font-weight: 700;
}

.answer-btn.incorrect {
  background-color: rgba(255, 0, 0, 0.2);
  color: rgb(245, 4, 4);
  border-color: rgb(243, 124, 124);
  font-weight: 600;
}

#result-screen h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 700;
}

.result-info {
  background-color: #e5a88f;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  color: black;
  font-size: 1rem;
  text-align: center;
}

.result-message {
  margin-top: 10px;
  color: var(--primary-color);
  font-weight: 800;
  font-size: 1.2rem;
}

@media (min-width: 512px) {
  body {
    font-size: 1rem;
    padding: 1.5rem;
  }

  #start-screen p {
    font-size: 1.2rem;
  }

  .quiz-question {
    font-size: 1.3rem;
  }

  .quiz-info {
    font-size: 1.1rem;
  }

  .answer-btn {
    padding: 0.9 1.1rem;
    font-size: 1.1rem;
  }

  #result-screen p {
    font-size: 1.2rem;
  }

  #result-screen .result-message {
    font-size: 1.8rem;
  }
}
